<!-- Esto es para heredar de la clase base -->
{% extends "ProyectoWebApp/base.html" %}
{% load static %}
{% block content %}

<div class="contenedorFormulario" >
    
    {% if "aseptado" in request.get %}

       <p style="color: white;">Registro completado correctamente</p>

    {% endif %}
    
    <form action="" method="POST" style="text-align: center;">
        {% csrf_token %}
       <table style="color: white; margin: 20px auto;">{{miformulario.as_table}}</table>
       <input type="submit" value="Enviar"  style=" width: 150px;">

    </form>

</div>
<p style="color: white;">{{request.post}}</p>
{% endblock %}